.vagrant
composer.phar
vendor/autoload.php
vendor/composer
vendor/doctrine
vendor/friendsofsymfony
vendor/jdorn
vendor/jms
vendor/kriswallsmith
vendor/monolog
vendor/phpcollection
vendor/phpoption
vendor/psr
vendor/sensio
vendor/swiftmailer
vendor/symfony
vendor/twig
app/cache/dev
app/logs/dev.log
app/cache/dev/annotations
app/cache/dev/appDevDebugProjectContainer.php
app/cache/dev/appDevDebugProjectContainer.php.meta
app/cache/dev/appDevDebugProjectContainer.xml
app/cache/dev/appDevDebugProjectContainerCompiler.log
app/cache/dev/appDevUrlGenerator.php
app/cache/dev/appDevUrlGenerator.php.meta
app/cache/dev/appDevUrlMatcher.php
app/cache/dev/appDevUrlMatcher.php.meta
app/cache/dev/assetic
app/cache/dev/classes.map
app/cache/dev/doctrine
app/cache/dev/jms_aop
app/cache/dev/jms_diextra
app/cache/dev/jms_security
app/cache/dev/jms_serializer
app/cache/dev/profiler
app/cache/dev/sessions
app/cache/dev/templates.php
app/cache/dev/twig
vendor/gedmo
vendor/liip
vendor/stof
app/cache/prod
php-cs-fixer.phar
