.vagrant
composer.phar
vendor/autoload.php
vendor/composer
vendor/doctrine
vendor/friendsofsymfony
vendor/jdorn
vendor/jms
vendor/kriswallsmith
vendor/monolog
vendor/phpcollection
vendor/phpoption
vendor/psr
vendor/sensio
vendor/swiftmailer
vendor/symfony
vendor/twig
vagrant/puppet
Vagrantfile
app/cache/dev
app/logs/dev.log
